amqp==2.3.2
appdirs==1.4.3
atomicwrites==1.2.1
attrs==18.2.0
black==18.9b0
bson==0.5.7
certifi==2018.11.29
chardet==3.0.4
click==7.0
coverage==5.0a4
idna==2.7
kombu==4.2.1
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pytest-cov==2.6.0
pytest-html==1.19.0
pytest-metadata==1.7.0
pytest==4.0.1
python-dateutil==2.7.5
python-http-client==3.1.0
python-json-logger==0.1.10
requests==2.20.1
sendgrid==5.6.0
simplejson==3.16.0
six==1.11.0
toml==0.10.0
urllib3==1.24.1
vine==1.1.4
